html { 
  background: url(star-sky.jpg) no-repeat center center fixed; 
  background-size: cover;
}
body {
	background: none;
}

.homeContainer {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
	.homeContainer p {
		
	}
	.homeContainer .homeButtons {
		margin-top: 20vh;
	}
	.homeContainer .homeButtons button {
		margin: auto 6px;
	}
