html { 
  background: url(star-sky.jpg) no-repeat center center fixed; 
  background-size: cover;
}
body {
	background: none;
	font-family: 'Roboto', sans-serif;
}

.homeContainer {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #ffffff;
}
	.homeButtons .btn-primary {
		-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
		-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
		box-shadow:inset 0px 1px 0px 0px #97c4fe;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
		background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
		background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
		background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
		background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
		background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
		background-color:#3d94f6;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #337fed;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #1570cd;
	}
	.homeButtons .btn-primary:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
		background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
		background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
		background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
		background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
		background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
		background-color:#1e62d0;
	}
	.homeButtons .btn-primary:active {
		position:relative;
		top:1px;
	}
	
	.homeButtons .btn-outline-primary {
		-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
		-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
		box-shadow:inset 0px 1px 0px 0px #dcecfb;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
		background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
		background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
		background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
		background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
		background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
		background-color:#bddbfa;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #84bbf3;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #528ecc;
	}
	.homeButtons .btn-outline-primary:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
		background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
		background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
		background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
		background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
		background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
		background-color:#80b5ea;
	}
	.homeButtons .btn-outline-primary:active {
		position:relative;
		top:1px;
	}

	.homeContainer p {
		
	}
	.homeContainer .homeButtons {
		margin-top: 20vh;
	}
	.homeContainer .homeButtons button {
		margin: auto 6px;
	}
